@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
}


.header {
    background-color: #1f2937;
    padding: 0px 250px;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

a {
    text-decoration: none;
    
  }

a, .hero-secondary-text{
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content{
    display: flex;
    flex: 1 1 auto;
    margin-top: 100px;
}

.header-content-written {
    margin-right: 100px;
}

.imagecell{
    flex-shrink: 0.75;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    border: none;
  }

img {
    max-width:600px;
    max-height:auto;
}

.information{
    margin-top: 50px;
    margin-bottom: 100px;
}

.information-header {
    text-align: center;
    color:#1f2937;
    font-size: 36px;
    font-weight: bold;
}

.items {
    display: flex;
    gap: 52px;
    justify-content: center;
  
  }
  
.imageandtext {
    align-items: center;
    justify-content: center;
    max-width: 200px;
    flex-shrink: 1;
    text-align: center;
}

img.mini-square  {
    max-width:200px;
    max-height:auto;
}

.text {
    font-size: 18px;
    color: gray;
}